*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
.kotlin/

# Signierschlüssel nie einchecken
keystore.properties
*.jks
*.keystore
